.contact{

font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  text-align: center;
  font-size: 25px;
  padding: 20px;
  margin: 30px;
}
.header{

    color: #333333;
  font-weight: bold;
  text-align: center;
             
  margin: 10px;
}

.map-container {
      position: relative;
      width: 100%;
      padding-bottom: 56.25%; 
      height: 0;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
      margin-bottom: 40px;
    }

    .map-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }

    

    .command-box {
      width: 800px;
      height: 100px;
      background-color: #fffdfd;
      border: 2px solid #ffffff;
      border-radius: 8px;
      padding: 10px;
      
    }

    


    input {
      width: 100%;
      padding: 8px;
      background: #faf8f8;
      border: 1px solid #000700;
      color: #000000;
      font-family: monospace;
      font-size: 16px;
      outline: none;
      border-radius: 4px;
    }

    .container {
      max-width: 600px;
      margin: auto;
      background: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    }
    h1, h3 { text-align: center; color: #333; }
    label { display: block; margin-top: 10px; font-weight: bold; }
    input, textarea, select, button {
      width: 100%; padding: 8px; margin-top: 5px;
      border-radius: 5px; border: 1px solid #ccc;
    }
    button { background: #4CAF50; color: white; cursor: pointer; margin-top: 15px; }
    button:hover { background: #45a049; }
    ul.order-list { margin-top: 15px; padding-left: 20px; list-style-type: none; }
    ul.order-list li {
      background: #f1f1f1; margin: 5px 0; padding: 10px; border-radius: 5px;
      display: flex; justify-content: space-between; align-items: center;
    }
    .remove-btn {
      margin-left: 10px;
      background: red; color: white; border: none; padding: 3px 6px;
      cursor: pointer; border-radius: 5px;
    }
    .remove-btn:hover { background: darkred; }
    .logo { display: block; margin: 0 auto 20px auto; max-width: ä }